.App-wrapper {
  width: 100%;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
@media screen and (min-width: 1025px) {
  .App-wrapper {
    padding-top: 0px;
    padding-bottom: 0px;
    display: grid;
    grid-template-columns: 600px 700px;
    grid-template-rows: 90px 520px;
    grid-template-areas: "Header TryFree" "Header Form";
    gap: 10px;
    align-items: center;
    justify-content: center;
  }
}