.Form {
  grid-area: Form;
  background-color: var(--colorPrimaryWhite);
  margin: 0 auto;
  max-width: 1000px;
  width: 75%;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: 1px 7px 4px 1px rgba(0, 0, 0, 0.15);
}

.Form-copy {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 1.9;
  text-align: center;
  color: var(--colorNeutralDarkBlue);
}
.Form-copy > span {
  font-weight: 700;
  color: var(--colorPrimaryRed);
}
@media screen and (min-width: 425px) {
  .Form {
    width: 65%;
  }
}
@media screen and (min-width: 768px) {
  .Form {
    width: 36%;
  }
}
@media screen and (min-width: 1025px) {
  .Form {
    width: 77%;
    padding: 45px;
  }
}