.Header-wrapper {
  padding: 0px 1.5rem;
}
.Header-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 1.6;
  text-align: center;
}

.Header-copy {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.9;
  text-align: center;
}

.Header-title, .Header-copy {
  color: #fff;
}
