.Header {
  grid-area: Header;
}
.Header-wrapper {
  margin: 0 auto;
  max-width: 320px;
  width: 100%;
  padding: 0px 1.5rem;
}
.Header-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 1.6;
  text-align: center;
}
.Header-copy {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.9;
  text-align: center;
}
.Header-title, .Header-copy {
  color: var(--colorPrimaryWhite);
}
@media screen and (min-width: 768px) {
  .Header-title {
    font-size: 1.9rem;
  }
}
@media screen and (min-width: 1025px) {
  .Header-wrapper {
    max-width: 500px;
  }
  .Header-title {
    text-align: start;
    font-size: 3.1rem;
    line-height: 1.2;
  }
  .Header-copy {
    text-align: start;
    font-weight: 500;
    line-height: 1.7;
  }
}