.TryFree-Wrapper {
  background-color: #6055a5;
  width: 320px;
  margin: 0 auto;
  margin-top: 4rem;
  margin-bottom: 3rem;
  border-radius: 15px;
  box-shadow: 1px 7px 4px 1px rgba(0, 0, 0, 0.15);
}
.TryFree-Wrapper_copy {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
  color: #fff;
  padding: 20px 30px;
}

.TryFree-Wrapper_copy span {
  font-weight: 700;
}