.TryFree-Wrapper {
  grid-area: TryFree;
  background-color: var(--colorAccentBlue);
  max-width: 1000px;
  width: 86%;
  margin: 0 auto;
  margin-top: 4rem;
  margin-bottom: 3rem;
  border-radius: 15px;
  box-shadow: 1px 7px 4px 1px rgba(0, 0, 0, 0.15);
}
.TryFree-Wrapper_copy {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.6;
  text-align: center;
  color: var(--colorPrimaryWhite);
  padding: 20px 30px;
}
.TryFree-Wrapper_copy span {
  font-weight: 700;
}
@media screen and (min-width: 425px) {
  .TryFree-Wrapper {
    width: 75%;
  }
}
@media screen and (min-width: 768px) {
  .TryFree-Wrapper {
    width: 42%;
  }
}
@media screen and (min-width: 1025px) {
  .TryFree-Wrapper {
    width: 90%;
    height: 70px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .TryFree-Wrapper_copy {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}